#initial-container {
  margin-bottom: 32px;
}

#initial-container .link {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: #ffffff;

  font-size: 24px;
  font-weight: bold;

  margin-left: 32px;

  transition: all ease 0.2s;
}

.link:hover {
  filter: brightness(90%);
}

.hero-row-area {
  overflow-x: hidden;
  padding-left: 32px;
  margin-top: 32px;
}

.hero-row-list {
  transition: all ease 0.4s;
}

.hero-row-item {
  display: inline-block;

  max-height: 480px;
  max-width: 320px;

  cursor: pointer;
}

.hero-row-item img {
  width: 100%;

  transform: scale(0.9);
  transition: all ease 0.2s;
}

.hero-row-item img:hover {
  width: 100%;

  transform: scale(1);
}

.hero-row-left,
.hero-row-right {
  position: absolute;
  width: 40px;
  height: 400px;

  background: rgba(0, 0, 0, 0.6);

  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.4s;
}

.hero-row-left {
  left: 0;
}
.hero-row-right {
  right: 0;
}

.hero-row-area:hover .hero-row-left,
.hero-row-area:hover .hero-row-right {
  opacity: 1;
}

@media (max-width: 760px) {
  .hero-row-left,
  .hero-row-right {
    opacity: 1;
  }
}
